
<html>
<body>
<h1>$message</h1>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="timeline" style="height: 180px;"></div>

<script type="text/javascript">

    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'number', id: 'Start' });
        dataTable.addColumn({ type: 'number', id: 'End1' });

        dataTable.addRows([
            [ 'OBJECT 1', 0, 200],
            [ 'OBJECT 1', 600, 700],
            [ 'OBJECT 2', 2, 350],
            [ 'OBJECT 2', 370, 450],
            [ 'OBJECT 2', 460, 480],
            [ 'OBJECT 2', 500, 520],
            [ 'OBJECT 2', 550, 670],
        ]);

        var options = {
            timeline: { groupByRowLabel: true }
        };

        chart.draw(dataTable, options);
    }
</script>

</body>
</html>

